<!DOCTYPE html>
<html>
  <head>
    <title>SimpleApplication</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="application-body">
      <%= yield %>
    </div>

    <% if current_user %>
      <footer>
        <%= label_tag 'more-tweets-submit', 'More Tweets', class: 'btn btn-primary' %>

        <button class="btn btn-default" id="footer-options-toggler">&#9776;</button>

        <%= render 'home/more_tweets_options', user: current_user %>
      </footer>
    <% end %>
  </body>
</html>
